*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
     max-height: 100vh;
}
body{

background-color: #191919;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
flex-direction: column;

}
canvas{
    background-color: #111;
    margin-top: 30px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 30px;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;


}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 5;

}

.game-over{
    text-transform: 700;
    font-weight: 700;
    font-size: 3rem;
}
.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}


.btn-play{
    border: none;
    border-radius: 100px;
    padding: 10px 15px ;
    font-size: 1rem;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}